<div class="container" *ngIf="user$ | async as user">
  <!--  <button [routerLink]="['/user', user.id - 1]" *ngIf="user.id > 1">Prev</button>-->
  <!--  <button [routerLink]="['/user', user.id + 1]" *ngIf="user.id < 10">Next</button>-->
  <div class="user-container">
    <div class="left">
      <p>Name :</p>
      <p>Username :</p>
      <p>Website :</p>
      <p>Phone Number: </p>
      <p>Email: </p>
      <p>Posts: </p>
    </div>
    <div class="right">
      <p>{{user.name}}</p>
      <p>{{user.username}}</p>
      <p>{{user.website}}</p>
      <p>{{user.phone}}</p>
      <p>{{user.email}}</p>
      <button (click)="getPosts(user.id)">Posts</button>
    </div>
  </div>
</div>
