<!-- using async pipe to subscribe to user$ Observable -->
<div class="container" *ngIf="user$ | async as user">
  <div class="back-container">
    <button routerLink="/users">Back</button>
  </div>
  <div class="user-container">
    <div class="left">
      <p>Name :</p>
      <p>Username :</p>
      <p>Street :</p>
      <p>City :</p>
      <p>Website :</p>
      <p>Phone Number: </p>
      <p>Email: </p>
      <p class="company">Company Name: </p>
      <p>Posts: </p>
    </div>
    <div class="right">
      <p>{{user.name}}</p>
      <p>{{user.username}}</p>
      <p>{{user.address.street}}</p>
      <p>{{user.address.city}}</p>
      <p>{{user.website}}</p>
      <p>{{user.phone}}</p>
      <p>{{user.email}}</p>
      <p>{{user.company.name}}</p>
      <button [routerLink]="['/posts', user.id]">Posts</button>
    </div>
  </div>
  <div class="nav-container" [ngClass]="{'flex-end' : user.id === 1}">
    <button class="prev" [routerLink]="['/user', user.id - 1]" *ngIf="user.id > 1">Previous</button>
    <button class="next" [routerLink]="['/user', user.id + 1]" *ngIf="user.id < 10">Next</button>
  </div>
</div>
