.container {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column-reverse;


  .user-container {
    display: flex;
    width: 360px;
    padding: 20px;
    margin: 0 auto 20px;
    justify-content: center;
    gap: 10px;
    color: black;
    border: 2px solid #5A6268;
    border-radius: 4px;

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .company {
        margin-bottom: 20px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
    }

    p {
      margin-bottom: 12px;
    }

  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin: 0 auto 10px;

  }

  .back-container {
    width: 360px;
    margin: 0 auto;
  }

  .flex-end {
    justify-content: flex-end;
  }

  button {
    background: #5A6268;
    border: 2px solid #5A6268;
    color: white;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    width: 70px;

    &:hover {
      background: white;
      color: black;
    }
  }
}

@media only screen and (min-width: 577px) {
  .container {
    .user-container {
      width: 500px;

      p {
        font-weight: bold;
        margin-bottom: 14px;
      }

      .left {
        .company {
          margin-bottom: 22px;
        }
      }
    }

    button {
      font-weight: bold;
      width: 80px;
    }

    .nav-container,
    .back-container {
      width: 500px;
    }
  }
}
